
/* SCSS HEX */
$xanadu: #667761ff;
$ash-gray: #ACB7A7ff;
$mint-cream: #f1f7edff;
$eerie-black: #262322ff;
$rajah: #ffa552ff;

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: $eerie-black;
  margin: 0px;

  h1 {
    font-weight: 700;
  }

  h2 {
    font-weight: 600;
  }

  ul {
    list-style-type: none;
    padding: 1px;

    li {
      margin: 10px 0;
    }
  }
}

.static {
  position:absolute;
  background: white;
}

.static:hover {
  opacity:0;
}

.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto
}

.project-and-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 5px;
}

.posts-container {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  width: 30%;
  border-left: dashed 2px rgb(180, 236, 252);
  margin: 20px 0;
}

.TB-span {
  color: $rajah;
}

.project-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;

  p {
    img[alt=e-atv] { width: 100%; }
  }
}

// new nav!
.new-nav-container {
  display: flex;
  flex-direction: row-reverse;
}

.nav-title {
  display: flex;

  &:hover + .nav-top-layer {
    visibility: visible;
    opacity: 1;
  }
}

.nav-top-layer {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .05s, opacity .3s linear;

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

.portfolio-container {
  display: flex;
  flex-flow: row;
}

.post-container {
  align-items: flex-start;
  margin-left: 40px;
}

.nav-item {
  display: flex;
  width: 90px;
  height: 40px;
  // background-color: $xanadu;
  align-items: center;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid $ash-gray;
  margin: 1px 10px;
  text-decoration: lighten($color: #000000, $amount: 0);

  &:hover {
    border-bottom: 3px solid $ash-gray;
    text-decoration: darken($color: #000000, $amount: 0);
  }

  &.active {
    border-bottom: 4px solid $xanadu;
  }
}

.nav-item-text {
  text-align: center;
  width: 100%;
  color: $eerie-black;
}

.nav-container {
  display: flex;
}

.header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  max-width: 1000px;
}

.explore-container {
  display: flex;
  flex-flow: column;
}

.separator {
  margin: 2px 0px;
  border: 2px;
  background: rgb(228, 228, 228);
  height: 1px;
  display: none
}

.active-projects-list {
  display: flex;
  flex-direction: column;
  width: 80%;
}

// todo: convert to topic parent and explore/profile children. same for container

.topic {
  padding-left: 16px;
  display: flex;
  margin: 5px;
  // justify-content: center;
  height: 60px;
  align-items: center;
  text-decoration: none;
  color: black;
  -webkit-transition: border-left .3s linear;
  -ms-transition: border-left .3s linear;
  transition: border-left .3s linear;
  border-left: 0px solid $rajah;
  font-size: 16px;

  &:hover {
    border-left: 10px solid $rajah
  }

  &.dormant {
    height: 80px;
    width: 80px;
    font-size: 12px;
    flex: 0 1 calc(15% - 8px);
  }
}



@import "wabble";
