.page-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post-container {
  align-items: flex-start;
  margin-left: 40px;
}

.nav-container {
  display: flex;
}

.nav-item {
  display: flex;
  width: 90px;
  height: 40px;
  background-color: skyblue;
  align-items: center;
  border-radius: 10px;
  margin: 1px 10px;
  text-decoration: lighten($color: #000000, $amount: 0);

  &:hover {
    background-color: burlywood;
    text-decoration: darken($color: #000000, $amount: 0);
  }

  &.active {
    background-color: darkblue;
  }
}

.nav-item-text {
  text-align: center;
  width: 100%;
  color: black;
  
  .active & {
    color: darkgrey;
  }
}

.explore-container {
  width: 80%;
  height: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

// todo: convert to topic parent and explore/profile children. same for container

.explore-topic {
  display: flex;
  margin: 5px;
  justify-content: center;
  height: 140px;
  width: 140px;
  border-radius: 70px;
  background-color: cornsilk;
  flex: 0 1 calc(20% - 8px);

  align-items: center;
}

.profile-topic {
  display: flex;
  margin: 5px;
  justify-content: center;
  height: 140px;
  width: 140px;
  border-radius: 20px;
  background-color: lightgray;
  flex: 0 1 calc(30% - 8px);

  align-items: center;
}

@import "wabble";
