<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TBLand</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T2ZVEFS9YP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T2ZVEFS9YP');
    </script>
  </head>
  <body>
    <div class="page-container">
      <div class="header">
        <h1><span class="TB-span">TB</span>{{ page.header }}</h1>
        {% include navigation.html %}
        <!-- {% include new-nav.html %} -->
      </div>
      <div class="content-container">
        {{ content }}
      </div>
  </body>
</html>
