<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TB thought</title>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Ethiopic&display=swap" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-T2ZVEFS9YP"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-T2ZVEFS9YP');
        </script>
    </head>
    <div class="page-container">
        <div class="header">
            <h1>A Thought</h1>
            {% include navigation.html %}
        </div>
        <div class="post-container">
            <h1>{{ page.title }}</h1>

            <p>{{ page.date | date_to_string }} - {{ page.author }}</p>
    
            {{ content }}
        </div>
        {% include navigation.html %}
    </div>
</html>
